body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.sidebar {
    width: 230px;
    height: 100vh;
    background: #0d6efd;
    color: white;
    padding: 20px;
    float: left;
}

.sidebar a {
    color: white;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
}

.sidebar a:hover {
    background: #0b5ed7;
}

.content {
    margin-left: 250px;
    padding: 20px;
}
